<ul class="facet-values list-unstyled">
  <% paginator =    
      Blacklight::Solr::FacetPaginator.new(display_facet.items,        
        :limit => facet_limit_for(solr_field))
  %>
  <% paginator.items.each do |item| -%>
    <li class="facet-item">

      <!-- Blacklight-du: Facet pane thumbnails -->
      <% if item.value == "Still Image" %>
        <span class="facet-tn" id="still-image-tn"><%= image_tag "picture-in-frame-TN.png", size: "24x24" %></span>
      <% elsif item.value == "Text" %>
        <span class="facet-tn"><%= image_tag "old-book-TN.png", size: "21x21", style: "margin-top: -5px;" %></span> 
      <% elsif item.value == "Sound Recording" %>
        <span class="facet-tn"><%= image_tag "mic-TN.png", size: "25x25", style: "margin-top: -5px;" %></span>
      <% elsif item.value == "Map" %>
        <span class="facet-tn" style="margin-left: -5px;"><%= image_tag "map-TN.png", size: "27x27", style: "margin-top: -7px;" %></span>
      <% elsif item.value == "Moving Image" %>
        <span class="facet-tn" style="margin-left: -5px;"><%= image_tag "film-camera-TN.png", size: "30x27", style: "margin-top: -5px;" %></span>
      <% elsif item.value == "Art Reproduction" %>
        <span class="facet-tn"><%= image_tag "palette-TN.png", size: "25x25", style: "margin-top: -5px;" %></span>
      <% elsif item.value == "Scrapbook" %>
        <span class="facet-tn"><%= image_tag "scrap-TN.png", size: "25x25", style: "margin-top: -5px;" %></span>
      <% elsif item.value == "Archival Resource" %>
        <span class="facet-tn" style="margin-left: -5px;"><%= image_tag "archive-TN.jpg", size: "28x28", style: "margin-top: -10px;" %></span>
      <% end %>

    <% if facet_in_params?( solr_field, item.value ) %>              
        <%= render_selected_facet_value(solr_field, item) %>              
      <% else %>              
        <%= render_facet_value(solr_field, item) %>              
    <% end -%>
    </li>
  <% end %>

  <% if(paginator.has_next?)  %>
    <li class="more_facets_link"><%= link_to(t('blacklight.search.facets.more'), params.merge(:id => solr_field, :action=>"facet", :page => nil), :class => "more_facets_link") %></li>
  <% end %>

</ul>
