<ul class="facet-values list-unstyled">
  <% paginator =    
      Blacklight::Solr::FacetPaginator.new(display_facet.items,        
        :limit => facet_limit_for(solr_field))
  %>
  <% paginator.items.each do |item| -%>
    <li>

      <!-- Blacklight-du: Facet pane thumbnails -->
      <% if item.value == "text" %>
        <span class="facet-tn"><%= image_tag "old-book-TN.png", size: "27x27" %></span>
      <% elsif item.value == "still image" %>
        <span class="facet-tn" style="margin-left: -2px;"><%= image_tag "picture-in-frame-TN.png", size: "30x27" %></span>
      <% elsif item.value == "sound recording" %>
        <span class="facet-tn"><%= image_tag "mic-TN.png", size: "25x27" %></span>
      <% elsif item.value == "map" %>
        <span class="facet-tn"><%= image_tag "map-TN.png", size: "27x27" %></span>
      <% elsif item.value == "moving image" %>
        <span class="facet-tn" style="margin-left: -5px;"><%= image_tag "film-camera-TN.png", size: "30x27" %></span>
      <% elsif item.value == "art reproduction" %>
        <span class="facet-tn"><%= image_tag "palette-TN.png", size: "27x27" %></span>
      <% elsif item.value == "scrapbook" %>
        <span class="facet-tn"><%= image_tag "scrap-TN.png", size: "27x27" %></span>
      <% elsif item.value == "archival resource" %>
        <span class="facet-tn" style="margin-left: -5px;"><%= image_tag "archive-TN.jpg", size: "30x30" %></span>
      <% end %>

    <% if facet_in_params?( solr_field, item.value ) %>              
        <%= render_selected_facet_value(solr_field, item) %>              
      <% else %>              
        <%= render_facet_value(solr_field, item) %>              
    <% end -%>
    </li>
  <% end %>

  <% if(paginator.has_next?)  %>
    <li class="more_facets_link"><%= link_to(t('blacklight.search.facets.more'), params.merge(:id => solr_field, :action=>"facet", :page => nil), :class => "more_facets_link") %></li>
  <% end %>

</ul>
