<%# default partial to display solr document fields in catalog index view -%>
<dl class="document-metadata dl-horizontal dl-invert">
  
	<table id="index-row">
	  	<tr>
	  		<td width="80%">
	  			<% index_fields(document).each do |solr_fname, field| -%>
				  	<% if should_render_index_field? document, field %>
					    <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_label document, :field => solr_fname %></dt>
					    <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_value document, :field => solr_fname %></dd>
				  	<% end -%>
				<% end -%>
			</td>

			<!-- Thumbnail preview section -->
			<td width="20%" align="right">
				<% index_fields(document).each do |solr_fname, field| -%>
					<% if solr_fname == 'thumbnail' %>
						<%= render_image_preview document, :field => solr_fname %>
					<% end -%>
				<% end -%>
			</td>
		</tr>
	</table>

</dl>
